<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="atec.pt.mycar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Appobjecto"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registo" />
        <activity android:name=".Login" />
        <activity
            android:name=".Utilizador"
            android:label="@string/title_activity_utilizador"
            android:theme="@style/AppTheme" />
        <activity android:name=".carros_modelos.Modelos" />
        <activity android:name=".AddCarro" />
        <activity android:name=".VerRevicoes" />
        <activity android:name=".Listar_Carro_Revicoes" />
        <activity android:name=".Notificacao" />
        <activity android:name=".EditarCarro" />
    </application>

</manifest>